{% load static %}
{% load theme %}

{% get_current_theme as THEME_CODE %}

<!DOCTYPE html>
<html lang="en" data-theme="{{ THEME_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Knowkey</title>
    
    <link href="{% static 'web/css/output.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.33.1/cytoscape.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body class="bg-base-100 text-base-content min-h-screen">
    {% block content %}
    {% endblock %}
</body>
</html>
