{% load static %}
{% load theme %}

{% get_current_theme as THEME_CODE %}

<!DOCTYPE html>
<html lang="en" data-theme="{{ THEME_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Knowkey{% endblock %}</title>
    
    <!-- Default Meta -->
    <meta name="description" content="{% block meta_description %}Your personal knowledge graph{% endblock %}">

    <!-- Open Graph / Social Meta -->
    {% block social_meta %}
        <meta property="og:title" content="{% block og_title %}Knowkey{% endblock %}">
        <meta property="og:description" content="{% block og_description %}Personal Knowledge Graph{% endblock %}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="{% block og_url %}{{ request.build_absolute_uri }}{% endblock %}">
        <meta property="og:site_name" content="Knowkey">
        <!-- Optional: image -->
        <meta property="og:image" content="{% block og_image %}{% endblock %}">
        
        <!-- Twitter -->
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="{% block twitter_title %}{% endblock %}">
        <meta name="twitter:description" content="{% block twitter_description %}{% endblock %}">
    {% endblock %}
    
    <link href="{% static 'web/css/output.css' %}" rel="stylesheet" type="text/css" />
    <script src="https://unpkg.com/htmx.org@1.9.12/dist/htmx.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cytoscape/3.33.1/cytoscape.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
</head>
<body class="bg-base-100 text-base-content min-h-screen">
    {% block content %}
    {% endblock %}
</body>
</html>
