asgiref==3.11.1
Django==6.0.5
djangorestframework==3.17.1
numpy==2.4.4
pgvector==0.4.2
psycopg==3.3.4
psycopg-binary==3.3.4
psycopg-pool==3.3.1
sqlparse==0.5.5
typing_extensions==4.15.0
redis==7.4.0
django-filter==25.2
mcp[cli]==1.27.1
